numpy<1.24,>=1.18
scipy>=1.10.0
numba==0.56.4
scikit-learn>=1.2 # Gaussian Process (GP) Regression
matplotlib>=3.7.0 # Plotting
seaborn>=0.12.2 # Plotting
networkx>=3.0 # Plotting
torch>=1.13.1 # GPDC pytorch version (in conda install pytorch)
gpytorch>=1.9.1 # GPDC gpytorch version
dcor>=0.6 # GPDC distance correlation version
joblib>=1.2.0 # CMIsymb shuffle parallelization
ortools>=9.2 # RPCMCI